<configuration>

    <!-- 引入 Spring Boot 默认的配置 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- 配置应用名称（例如：在日志中显示应用的名称） -->
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>

    <!-- CONSOLE appender: 输出日志到控制台 -->
    <appender name="CONSOLE" class="net.logstash.logback.appender.LoggingEventCompositeJsonEncoder">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>Asia/Shanghai</timeZone>
                </timestamp>
                <loggerName/>
                <threadName/>
                <logLevel/>
                <message/>
                <mdc/>
                <contextName/>
                <arguments/>
                <stackTrace/>
                <globalCustomFields>{"appName":"${APP_NAME}"}</globalCustomFields>
            </providers>
        </encoder>
        <target>System.out</target>
    </appender>

    <!-- LOGSTASH appender: 将日志推送到 Logstash -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>logstash:5044</destination> <!-- Logstash 地址 -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <!-- 设置根日志级别为 DEBUG -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>

</configuration>
