<configuration>
    <springProperty scope="context" name="logstashHost" source="logstash.host" defaultValue="localhost"/>
    <springProperty scope="context" name="logstashPort" source="logstash.port" defaultValue="4560"/>
    <contextName>${spring.application.name:-xksms-app}</contextName>

    <!-- 公共转换规则 -->
    <conversionRule conversionWord="ip" converterClass="com.xksms.log.config.IpConfig"/>
    <conversionRule conversionWord="tid" converterClass="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternConverter"/>

    <!-- 控制台输出（开发使用） -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <jsonGeneratorDecorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>
            <timestamp>
                <fieldName>timestamp</fieldName>
                <timeZone>UTC</timeZone>
            </timestamp>
            <contextName>
                <fieldName>app_name</fieldName>
            </contextName>
            <logLevel>
                <fieldName>level</fieldName>
            </logLevel>
            <mdc>
                <includeMdcKeyName>tid</includeMdcKeyName>
            </mdc>
            <pattern>
                <omitEmptyFields>true</omitEmptyFields>
                <pattern>{"ip": "%ip"}</pattern>
            </pattern>
            <threadName>
                <fieldName>thread</fieldName>
            </threadName>
            <loggerName>
                <fieldName>logger</fieldName>
            </loggerName>
            <message/>
            <stackTrace>
                <fieldName>stack_trace</fieldName>
            </stackTrace>

        </encoder>
    </appender>

    <!-- Logstash 输出（生产使用） -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${logstashHost}:${logstashPort}</destination>
        <keepAliveDuration>5 minutes</keepAliveDuration>
        <reconnectionDelay>3 seconds</reconnectionDelay>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timestamp>
                <fieldName>timestamp</fieldName>
                <timeZone>UTC</timeZone>
            </timestamp>
            <contextName>
                <fieldName>app_name</fieldName>
            </contextName>
            <logLevel>
                <fieldName>level</fieldName>
            </logLevel>
            <mdc>
                <includeMdcKeyName>tid</includeMdcKeyName>
            </mdc>
            <pattern>
                <omitEmptyFields>true</omitEmptyFields>
                <pattern>{"ip": "%ip"}</pattern>
            </pattern>
            <threadName>
                <fieldName>thread</fieldName>
            </threadName>
            <loggerName>
                <fieldName>logger</fieldName>
            </loggerName>
            <message/>
            <stackTrace>
                <fieldName>stack_trace</fieldName>
            </stackTrace>

        </encoder>
    </appender>

    <!--    <root level="INFO">-->
    <!--        <appender-ref ref="STDOUT"/>-->
    <!--    </root>-->


    <!-- 开发环境日志配置 -->
    <springProfile name="dev">
        <root level="DEBUG">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="LOGSTASH"/>
        </root>
        <logger name="com.xksms" level="DEBUG"/>

        <logger name="org.springframework" level="INFO"/>
        <logger name="org.apache.ibatis" level="DEBUG"/>

        <logger name="com.alibaba.nacos" level="INFO"/>
        <logger name="com.alibaba.cloud.nacos" level="INFO"/>

        <logger name="io.netty" level="INFO"/>
        <logger name="reactor.netty" level="INFO"/>

        <logger name="org.springframework.cloud.gateway" level="DEBUG"/>
    </springProfile>

    <!-- 测试环境日志配置 -->
    <springProfile name="test">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="LOGSTASH"/>
        </root>
        <logger name="com.xksms" level="INFO"/>
        <logger name="org.springframework" level="INFO"/>
        <logger name="org.apache.ibatis" level="INFO"/>

        <logger name="com.alibaba.nacos" level="INFO"/>
        <logger name="com.alibaba.cloud.nacos" level="INFO"/>

        <logger name="io.netty" level="INFO"/>
        <logger name="reactor.netty" level="INFO"/>
    </springProfile>

    <!-- 生产环境日志配置 -->
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="LOGSTASH"/>
        </root>

        <logger name="com.xksms" level="INFO"/>
        <logger name="org.springframework" level="WARN"/>
        <logger name="org.apache.ibatis" level="WARN"/>

        <logger name="com.alibaba.nacos" level="WARN"/>
        <logger name="com.alibaba.cloud.nacos" level="WARN"/>

        <logger name="io.netty" level="WARN"/>
        <logger name="reactor.netty" level="WARN"/>
    </springProfile>

</configuration>
