<configuration>
    <springProperty scope="context" name="logstashHost" source="logstash.host"/>
    <springProperty scope="context" name="logstashPort" source="logstash.port"/>
    <springProperty scope="context" name="appName" source="spring.application.name"/>
    <conversionRule conversionWord="ip" converterClass="com.xksms.log.config.IpConfig"/>
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${logstashHost}:${logstashPort}</destination> <!-- Logstash 地址 -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timestamp/>
            <loggerName/>
            <logLevel/>
            <message/>
            <mdc/>
            <contextName/>
            <globalCustomFields>{"appName":"${appName}"}</globalCustomFields>
        </encoder>
    </appender>


    <root level="INFO">
        <appender-ref ref="LOGSTASH"/>
    </root>
</configuration>
